<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <li class="list-group-item"><img style="width: 100%" src="/<%= calculator.image %>"></li>
                <li class="list-group-item active text-center"><%= calculator.name.toUpperCase() %></li>
                <li class="list-group-item"><%= calculator.description %></li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
            <div class="caption-full">
                <div class="text-right">
                    <% if (tombolBookmark) { %>
                        <form action="/calculators/<%= calculator._id %>/bookmark?_method=PUT" METHOD="POST">
                            <input type="submit" class="btn btn-success" value="tambah ke Bookmark">
                        </form>
                    <% } else { %>
                        <form action="/calculators/<%= calculator._id %>/dbookmark?_method=DELETE" METHOD="POST">
                            <input type="submit" class="btn btn-warning" value="hapus dari Bookmark">
                        </form>
                    <% } %>
                </div>
                <div id="KalkulatorTunjukan">
                    Sedang Memuat Kalkulator....
                </div>
            </div>
        </div>
    </div>
</div>
    
<% include ../partials/footershow %>